#code coverage
/code_coverage

# composer vendor dir
/vendor
/composer.lock

#node_modules
/node_modules

# phpstorm project files
.idea

# phpunit
.phpunit.cache
.phpunit.result.cache
phpunit.xml
phpunit.phar

#yii3 config packages
/config/packages

# windows thumbnail cache
Thumbs.db

# security private repo
auth.json

.vscode
