#code coverage
code_coverage

# composer vendor dir
vendor
composer.lock

#node_modules
node_modules

# package-lock.json
package-lock.json

# phpstorm project files
.idea

# phpunit
.phpunit.cache
.phpunit.result.cache
phpunit.phar
phpunit.xml.dist.bak

# windows thumbnail cache
Thumbs.db
