{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "report": "main"
        }
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": {
            "ignore": [
                "PHPForge\\Html\\Attribute\\Aria\\HasAriaDescribedBy::ariaDescribedBy",
                "PHPForge\\Html\\Attribute\\Custom\\HasAttributes::attributes",
                "PHPForge\\Html\\Attribute\\Custom\\HasContent::content",
                "PHPForge\\Html\\Attribute\\Custom\\HasEnclosedByLabel::enclosedByLabel",
                "PHPForge\\Html\\Attribute\\Custom\\HasLabelCollection::label",
                "PHPForge\\Html\\Attribute\\Custom\\HasLabelCollection::labelAttributes",
                "PHPForge\\Html\\Attribute\\Custom\\HasLabelCollection::labelClass",
                "PHPForge\\Html\\Attribute\\Custom\\HasLabelCollection::labelFor",
                "PHPForge\\Html\\Attribute\\Custom\\HasLabelCollection::notLabel",
                "PHPForge\\Html\\Attribute\\Field\\HasGenerateField::generateField",
                "PHPForge\\Html\\Attribute\\HasClass::class",
                "PHPForge\\Html\\Attribute\\HasId::getId",
                "PHPForge\\Html\\Attribute\\HasId::id",
                "PHPForge\\Html\\Attribute\\Input\\CanBeChecked::checked",
                "PHPForge\\Html\\Attribute\\Input\\CanBeRequired::required",
                "PHPForge\\Html\\Attribute\\Input\\HasMax::max",
                "PHPForge\\Html\\Attribute\\Input\\HasMaxLength::maxlength",
                "PHPForge\\Html\\Attribute\\Input\\HasMin::min",
                "PHPForge\\Html\\Attribute\\Input\\HasMinLength::minlength",
                "PHPForge\\Html\\Attribute\\Input\\HasName::name",
                "PHPForge\\Html\\Attribute\\Input\\HasPattern::pattern",
                "PHPForge\\Html\\Attribute\\Input\\HasPlaceholder::placeholder",
                "PHPForge\\Html\\Attribute\\Input\\HasSrc::src",
                "PHPForge\\Html\\Attribute\\Input\\HasValue::value"
            ]
        },
        "TrueValue": {
            "ignore": [
                "PHPForge\\Html\\Attribute\\Custom\\HasPrefixCollection::renderPrefixTag",
                "PHPForge\\Html\\Attribute\\Custom\\HasSuffixCollection::renderSuffixTag"
            ]
        }
    }
}
